.dropdown::before, .dropdown::after {
  content: "";
  display: inline-block;
  position: absolute;
  content: "";
  display: inline-block;
  position: absolute;
}

.dropdown::before {
  width: 10px;
  height: 10px;
  background-color: white;
  transform: rotate(45deg);
  top: -5px;
  z-index: -1;
  border: 1px solid #949494;
  right: 20px;
}

.dropdown::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  top: -5.7px;
  right: 18px;
}